<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=v, initial-scale=1.0">
    <title>Waluty</title>
</head>
<body>
    <from action="app.py/">

    <label for="code">Wybierz walute:</label>

    <select name="code" id="code">
    <option value="USD">USD</option>
    <option value="AUD">AUD</option>
    <option value="CAD">CAD</option>
    <option value="EUR">EUR</option>
    <option value="HUF">HUF</option>
    <option value="CHF">CHF</option>
    <option value="GBP">GBP</option>
    <option value="JPY">JPY</option>
    <option value="CZK">CZK</option>
    <option value="DKK">DKK</option>
    <option value="NOK">NOK</option>
    <option value="SEK">SEK</option>
    <option value="XDR">XDR</option>
    </select>
    <br>
    <label for="amount">Ilość do zakupu:</label>
    <input type="number" name="amount">
    <br>
    <button type="submit">Przelicz</button>
    </from>
    <br><br><br>
    <label>Kwota do zapłaty w PLN to:</label>
    <textarea id="result"></textarea>  
</body>
</html>