<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=v, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="waluta">Wybierz walute:</label>

    <select name="waluta" id="waluty">
    <option value="USD">dolar amerykański</option>
    <option value="AUD">dolar australijski</option>
    <option value="CAD">dolar kanadyjski</option>
    <option value="EUR">euro</option>
    <option value="HUF">forint (Węgry)</option>
    <option value="CHF">frank szwajcarski</option>
    <option value="GBP">funt szterling</option>
    <option value="JPY">jen (Japonia)</option>
    <option value="CZK">korona czeska</option>
    <option value="DKK">korona duńska</option>
    <option value="NOK">korona norweska</option>
    <option value="SEK">korona szwedzka</option>
    <option value="XDR">SDR</option>
    </select>
</body>
</html>